.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination_prev, .pagination_next {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 142%;
    color: var(--black);
}