.header {
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 142%;
    text-decoration: none;
    color: var(--black);
}

.menu__item:visited {
    color: var(--black);
}

.menu__counter {
    padding: 0 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 266%;
    border: 1px solid var(--black);
    border-radius: 50%;
}