.buttons {
    margin: 10px auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-style {
    background-color: rgb(178, 195, 178);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color:rgb(56, 35, 212);
    font-size: 20px;
}

.counter {
    padding: 20px;
    margin: auto;
    max-width: 320px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
}
